html,body{margin: 0;padding: 0;}
ul,li{margin: 0;padding: 0;}
/* 菜单栏的css */
.web_bar{position: fixed;left: 0;right: 0;top: 0;user-select: none;z-index: 10;}
.menu-title{padding: 0;margin: 0;}
.title{border: 1px solid #fff;width: 54px;box-sizing: border-box;cursor: default;display: inline-block;font-size: 0.8em;height: 20px;line-height: 18px;text-align: center;}
.title:hover{box-sizing: border-box;background-color: #cce8ff;border: 1px solid #99d1ff;}
.munelist{background-color: #f2f2f2;box-shadow: 5px 5px 5px #a6a6a6;display: inline-block;font-size: 0.8em;margin: 0;padding: 2px;position: absolute;top: 22px;width: 200px;}
.menu-item{display: block;height: 22px;line-height: 22px;margin-right: 1px;padding-left: 25px;position: relative;}
.menu-item:hover{background-color: #99d1ff;height: 22px;}
.shortcut{position: absolute;right: 20px;}
.disable{color: #6d6d6d;}
.disable:hover{background-color: #e6e6e6;}
.menu-hr{border: 1px solid #d7d7d7;display: block;height: 0px;margin: 4px;margin-left: 25px;}
.munelist .checked{position: absolute;width: 22px;height: 22px;left: 0;line-height: 22px;text-align: center;background-color: #90c8f6;}
/* 文本编辑区的css */
.textArea{position: fixed;top: 25px;bottom: 0;left: 0;right: 0;background-color: #99d1ff;}
.textArea textarea{border-top: 1px solid #d2d2d2;box-sizing: border-box;height: 100%;outline: none;overflow: scroll;padding: 0 1px;resize: none;width: 100%;}
/* 字体对话框 */
.listBox{user-select: none;width: 200px;}
.listBox .content{border: 1px solid #0078d7;box-sizing: border-box;font-size: 1em;height: 20px;padding-left: 2px;width: 100%;}
.listBox .selectList{background-color: #fff;border: 1px solid #828790;box-sizing: border-box;display: inline-block;height: 116px;overflow-y: scroll;width: 100%;}
.listBox .selectList .item{line-height: 16px;padding-left: 2px;}
.listBox .selectList .selected{background-color: #0078d7;color: #fff;}
.notepad-dlg-font {z-index: 10;}
.notepad-dlg-font .dialogbox {height: 498px;width: 438px;}
.notepad-dlg-font .main {height: 466px;}
.notepad-dlg-font .main .font-family,
.notepad-dlg-font .main .font-style {display: inline-block;margin-right: 16px;}
.notepad-dlg-font .main .sample {border-color: white;height: 78px;margin-top: 28px;width: 194px;}
.notepad-dlg-font .main .script {margin-top: 12px;}
.notepad-dlg-font .main select {height: 22px;width: 214px;}
.notepad-dlg-font .main .font-size {display: inline-block;}
.notepad-dlg-font .main .btn-ok {bottom: 10px;position: absolute;right: 110px;}
.notepad-dlg-font .main .btn-cancel {bottom: 10px;position: absolute;right: 16px;}
.notepad-dlg-mask {height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 10;}
.notepad-dlgbox {border: 1px solid #0f7fd6;box-shadow: 10px 10px 10px #d6d6d6;box-sizing: border-box;cursor: default;margin: 0 auto;position: relative;top: 100px;user-select: none;}
.notepad-dlg-titlebar {background-color: white;font-size: 1.3em;height: 30px;}
.notepad-dlg-titlebar .title {left: 10px;line-height: 30px;position: absolute;top: -15px;}
.notepad-dlg-titlebar .close-btn {color: gray;line-height: 30px;position: absolute;right: 0;text-align: center;width: 30px;}
.notepad-dlg-titlebar .close-btn:hover {background-color: red;color: white;}
.notepad-dlg-main {background-color: #f0f0f0;box-sizing: border-box;font-size: 1em;padding: 12px;position: relative;}
.notepad-dlg-main .btn {height: 28px;width: 86px;}